.cardBg {
  :hover {
    background: rgba(94, 240, 94, 0.56);
  }
  .linkBg {
    background: rgb(255, 255, 255);
  }
  text {
    color: white;
  }
  .description {
    height: auto;
    @media (min-width: 640px) {
      height: 200px;
    }
    @media (min-width: 1024px) {
      height: 170px;
    }
  }
}
