.profile-pic {
  cursor: pointer;
  width: 100% !important;
  height: 100% !important;
}

.animate-box.fadeInLeft.animated {
  height: 50px;
  margin-bottom: 0px;
}

.animate-box.fadeInRight.animated {
  height: 50px;
  margin-bottom: 0px;
}

@keyframes dropdown {
  from {
    top: -300px;
    transform: scale(0.5);
    opacity: 0.3;
  }
  to {
    top: 0px;
    transform: scale(1);
    opacity: 1;
  }
}
